* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;

  background: rgb(29, 29, 29);

  width: 100%;

  margin: 0;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: number-input;
  -moz-appearance: textfield;
}