@import "../styles/variables.scss";

// Fonts
.font-open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
.font-arial-sans-serif {
    font-family: Arial, sans-serif;
}

.font-size-10 {
    font-size: 0.625rem;
}
.font-size-12 {
    font-size: 0.75rem;
}
.font-size-14 {
    font-size: 0.875rem;
}
.font-size-16 {
    font-size: 1rem;
}
.font-size-18 {
    font-size: 1.125rem;
}
.font-size-20 {
    font-size: 1.25rem;
}
.font-size-22 {
    font-size: 1.375rem;
}
.font-size-24 {
    font-size: 1.5rem;
}

.text-black { color: $dark-gray !important; }
.text-gray  { color: $gray !important; }
.text-white { color: white !important; }

// Borders
.border-red {
    border-color: red !important;
}

.border-radius-10 {
    border-radius: 10px;
}

// Cursor
.button-cursor {
    cursor: none;

    &:hover {
        cursor: pointer;
    }
}

.disabled-cursor {
    cursor: none;
    user-select: none;

    &:hover {
        cursor: help;
    }
}
