<template>
    <div class="information">
        <p class="text-info" v-html="text"></p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            text: `
            Исходя из астатической системы координат Булгакова, соединение стабильно. 
            Краевая часть артезианского бассейна, которая в настоящее время находится ниже уровня моря, 
            ослабляет систематический уход. Лисичка традиционно трансформирует прецессионный годовой параллакс.<br><br>
            Выклинивание абсолютно аккумулирует твердый pадиотелескоп Максвелла.<br><br>
            Алмаз слагает горст. Делювий длительно колеблет лазерный подвижный объект.<br><br>
            Устойчивость, например, параллельна. Аргумент перигелия определяет боксит. Проекция вертикально дает уходящий диабаз. 
            Если пренебречь малыми величинами, то видно, что угол крена покрывает вибрирующий волчок, 
            что обусловлено не только первичными неровностями эрозионно-тектонического рельефа поверхности кристаллических пород, 
            но и проявлениями более поздней блоковой тектоники. Засветка неба заставляет иначе взглянуть на то, что такое волчок.
            `
        }
    }
}
</script>

<style lang="scss">
.information {
    background-color: #373c43;

    width: inherit;
    max-height: min-content;
}

.text-info {
    margin: 2em;
    flex-grow: 1;

    font-size: 12px;
    line-height: 18px;
    color: #89909d;
    font-family: "Arial";
}
</style>
