<template>
    <div class="navigation-panel">
        <div class="navigation-panel__item-wrapper">
            <div class="navigation-panel__item button-cursor font-open-sans-bold">
                Личный кабинет</div>
        </div>
        <div class="navigation-panel__item-wrapper">
            <router-link tag="div" class="navigation-panel__item button-cursor font-open-sans-bold"
                to="/payments">
                Платежи</router-link>
        </div>
        <div class="navigation-panel__item-wrapper">
            <router-link tag="div" class="navigation-panel__item button-cursor font-open-sans-bold"
                to="/history">
                История платежей</router-link>
        </div>
        <div class="navigation-panel__item-wrapper">
            <div class="navigation-panel__item button-cursor font-open-sans-bold item_bg-color_darker">
                Настрйки</div>
        </div>
        <div class="navigation-panel__item-wrapper">
            <div class="navigation-panel__item button-cursor font-open-sans-bold item_bg-color_darker">
                Выйти</div>            
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        };
    },
}
</script>

<style lang="scss">
@import "../styles/common_modificators.scss";
@import "../styles/variables.scss";

$panel_bg-color: rgb(15, 17, 19);

$item_bg-color: #1f2229;
$item_bg-color_darker: rgb(25, 28, 36);

$item_text-color: white;
$item_text-color_darker: rgb(128, 133, 146);

$item-first-child_border-color: rgb(32, 35, 43);
$item-last-child_border-color: rgb(32, 35, 43);

$item-active-bg-color: #2a2d37;
$item-active-text-color: $item_text-color_darker;

.navigation-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 0;

    background-color: $panel_bg-color;

    width: 20rem;
    height: inherit;

    &__item-wrapper {
        color: $item_text-color;

        &:first-child {
            border-bottom: solid 1px $item-first-child_border-color;
        }

        &:nth-last-child(2n) {
            border-bottom: solid 1px #20232b;
        }

        &:last-child {
            border-top: solid 1px $item-last-child_border-color;
            color: $item_text-color_darker !important;
        }
    }

    &__item {
        display: block;

        font-size: 14pt;
        text-align: left;
        box-shadow: 0px 1px 0px rgba(0,0,0,0.15);

        background-color: $item_bg-color;
        text-decoration: none;

        width: 100%;
        height: 4.7rem;
        padding: 1.8rem;

        user-select: none;
    }
}

.item {
    &_bg-color {
        &_darker {
            background-color: $item_bg-color_darker;
        }
    }
}

.router-link-active {
    background-color: $item-active-bg-color;
    color: $item-active-text-color;
}
</style>
