<template>
    <div class="payment-success">
        <div class="payment-check">
            <div class="payment-check__block block__title font-open-sans-bold font-size-20">
                Оплата прошла успешно!
            </div>
            <div class="payment-check__block block__info font-arial-sans-serif text-gray font-size-16">
                <div class="info-row">
                    <div class="info-row__label">Номер счёта</div>
                    <div class="info-row__value">{{ account }}</div>
                </div>
                <div class="info-row">
                    <div class="info-row__label">Сумма</div>
                    <div class="info-row__value">{{ payment }}</div>
                </div>
                <div class="info-row">
                    <div class="info-row__label">Держатель карты</div>
                    <div class="info-row__value">{{ owner }}</div>
                </div>
                <div class="info-row">
                    <div class="info-row__label">Дата операции</div>
                    <div class="info-row__value">{{ date | formatDate }}</div>
                </div>
            </div>
            <router-link tag="div" to="/history" class="payment-check__block block__footer font-size-18">
                <button class="payment-check__button font-size-14 text-white font-open-sans-bold">Понятно</button>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'account', 
        'payment',
        'owner',
        'date',
    ],
    data() {
        return {

        }
    },
    filters: {
        formatDate(date) {
            return date ? date.toLocaleString('ru') : '';
        },
    },
}
</script>

<style lang="scss">
@import "../styles/common_modificators.scss";
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.payment-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    height: 100%;
    min-height: 30em;
}

.payment-check {

    box-shadow: 0 3px 20px -5px black;

    padding: 2rem;
    width: 30rem;

    &:before {
        content: '';
        display: block;
        position: absolute;

        border-bottom: dashed 2px $light-gray;
        position: absolute;
        margin-left: -2rem;
        width: inherit;
    }

    &__block {
        margin-top: 2rem;
    
    }
    

    &__button {
        width: 8.3rem;
        height: 2.5rem;

        background-color: #005abe;
        font-stretch: expanded;

        border: none;
        border-radius: 20px;

        &:focus {
            outline: none;
        }
    }
}

.block {

    &__title {
        display: flex;
        justify-content: center;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}

.info-row {
    display: flex;
    justify-content: space-between;

    margin-top: 0.5rem;
    border-bottom: dashed 1px $light-gray;

    &__label {

    }

    &__value {
    }
}
</style>
