<template>
    <div class="payments-history">
        <table class="history-table">
            <th class="table-header">
                Сумма
            </th>
            <th class="table-header">
                Счёт
            </th>
            <th class="table-header">
                Дата
            </th>
            <tr v-for='(trx, i) in transactions' :key='i' class="table-row">
                <td class="table-cell">
                    {{ trx.amount }}
                </td>
                <td class="table-cell">
                    {{ trx.account }}
                </td>
                <td class="table-cell">
                    {{ trx.date | formatDate }}
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    props: {
        transactions: Array,
    },
    data() {
        return {};
    },
    filters: {
        formatDate(date) {
            return date.toLocaleString('ru');
        },
    },
}
</script>

<style lang="scss">
@import "../styles/common_modificators.scss";
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.payments-history {
    width: 100%;
    overflow: scroll;
    height: 35.625rem;
}

.history-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background: white;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.table-header {
    font-weight: normal;
    color: $gray;
    border-bottom: 2px solid $gray;
    padding: 10px 8px;
}
.table-cell {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}

.table-row:hover .table-cell {
    color: #6699ff;
}
</style>
