<template>
    <form class="payments" @submit.prevent='tryPay'>

        <div class="payment font-size-16 font-arial-sans-serif">
            <div class="text-gray">Информация по оплате:</div>
            <div class="payment__info">
                <div class="payment__info_field">
                    <div class="payment__info_label text-gray">Номер счёта:</div>
                    <input class="input-payment" :name='accountNumer.name' v-model='accountNumer.value' type="number">
                </div>
                <div class="payment__info_field">
                    <div class="payment__info_label text-gray">Сумма платежа:</div>
                    <input class="input-payment" :name='paymentAmount.name' v-model='paymentAmount.value' type="number">
                </div>
            </div>
        </div>
        
        <div class="credit-card">
            <div class="credit-card__title font-size-22 font-open-sans-bold text-black">Данные банковской карты</div>
            <div class="credit-card__info">
                <div class="credit-card__info_card-side card-side_face border-radius-10 font-size-16 font-arial-sans-serif">

                    <div class="credit-card__info_field">
                        <div class="text-gray font-size-16">Номер карты</div>
                        <div class="info-field_input-wrapper">
                            <input class="info-field_input font-size-16" :name='cardNumberQuad1.name' v-model='cardNumberQuad1.value' type="number">
                            <input class="info-field_input font-size-16" :name='cardNumberQuad2.name' v-model='cardNumberQuad2.value' type="number">
                            <input class="info-field_input font-size-16" :name='cardNumberQuad3.name' v-model='cardNumberQuad3.value' type="number">
                            <input class="info-field_input font-size-16" :name='cardNumberQuad4.name' v-model='cardNumberQuad4.value' type="number">
                        </div>
                    </div>
                    
                    <div class="credit-card__info_field">
                        <div class="text-gray font-size-16">Срок действия</div>
                        <div class="info-field_input-wrapper">
                            <div class="validity-input-wrapper">
                                <select class="info-field_input validity-period__month font-size-16 text-black" type="text" placeholder="месяц" 
                                    :name='validityPeriodMonth.name'
                                    v-model='validityPeriodMonth.value'>
                                    <option v-for='(month, i) in months' :key='i' :value='month'>{{ month | formatMonth }}</option>
                                </select>
                                <img src="../styles/arrow-down.png" class="custom-select-arrow"/>
                            </div>
                            <div class="validity-input-wrapper">
                                <select class="info-field_input validity-period__year font-size-16 text-black" type="text" placeholder="год"
                                    :name='validityPeriodYear.name' 
                                    v-model='validityPeriodYear.value'>
                                    <option v-for='(year, i) in years' :key='i' :value='year'>{{ year }}</option>
                                </select>
                                <img src="../styles/arrow-down.png" class="custom-select-arrow"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="credit-card__info_field">
                        <div class="info-field_input-wrapper">
                            <input class="info-field_input info-field_input_card-owner" placeholder="Держатель карты"
                                :name='cardOwner.name'
                                v-model='cardOwner.value'>
                        </div>
                    </div>
                </div>
                <div class="credit-card__info_card-side card-side_back border-radius-10">
                    <div class="card-side_back_decoration"></div>
                    <div class="credit-card__info_field info-field_side-back font-arial-sans-serif">
                        <div class="text-gray">Код CVV2 / CVC2</div>
                        <div class="info-field_input-wrapper info-field_input-wrapper_side-back">
                            <input class="info-field_input info-field_input_side-back font-size-16" 
                                :name="cvv.name" v-model='cvv.value' type="number">
                            <div class="info-field_tip disabled-cursor">?</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <button class="payments__button font-size-14 text-white font-open-sans-bold">Оплатить</button>
        </div>
    </form>
</template>

<script>
import { log } from 'util';
import { setTimeout } from 'timers';

import paymentForm from '../mixins/paymentForm.js';

export default {
    props: {
        transactions: Array,
    },
    mixins: [ paymentForm ],
    data() {
        return {
        }
    },
    methods: {
        tryPay() {
            let errors = this.validateFields();

            if (errors.length > 0) {
                this.highlightErrorFields(errors);
                return false;
            }
            
            this.addTransaction();

            console.log('Before router push');
            
            this.$router.push({
                name: 'payment-success', 
                params: {
                    account: this.accountNumer.value,
                    payment: this.paymentAmount.value,
                    owner: this.cardOwner.value,
                    date: new Date(),
                },
            });

            return false;
        },
        validateFields() {
            let fields = [
                this.accountNumer,
                this.paymentAmount,
                this.cardNumberQuad1,
                this.cardNumberQuad2,
                this.cardNumberQuad3,
                this.cardNumberQuad4,
                this.validityPeriodMonth,
                this.validityPeriodYear,
                this.cardOwner,
                this.cvv,
            ];

            let errors = [];

            fields.forEach( 
            (field) => {

                let value = field.value;
                
                field.checks.forEach( 
                (check) => {
                    
                    let ok;
                    check.options === undefined
                        ? ok = check.func(value)
                        : ok = check.func(value, check.options);

                    if (!ok && !errors.includes(field.name)) {
                        errors.push(field.name);
                    }
                });
            });

            return errors;
        },
        highlightErrorFields(errors) {
            errors.forEach((inputName) => {
                let input = document.getElementsByName(inputName)[0];
                input.classList.add('border-red');
                setTimeout(() => {
                    input.classList.remove('border-red');
                }, 1000);
            })
        },
        addTransaction() {
            const trx = {
                date: new Date(),
                account: this.accountNumer.value,
                amount: this.paymentAmount.value,
            };
            this.$emit('add-transaction', trx);
        },
    },
    filters: {
        formatMonth: function(month) {
            return month.toString().length === 1 ? '0' + month : month;
        }
    },
}
</script>

<style lang="scss">
@import "../styles/common_modificators.scss";
@import "../styles/variables.scss";
@import "../styles/mixins.scss";

$decor-color: $light-gray;

.payments {
    margin: 2.75rem 1.875rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__button {
        width: 8.3rem;
        height: 2.5rem;

        margin-top: 20px;

        background-color: #005abe;
        font-stretch: expanded;

        border: none;
        border-radius: 20px;

        &:focus {
            outline: none;
        }
    }
}

.payment {

    display: flex;
    flex-direction: column;

    &__info {
        display: flex;
        flex-direction: column;

        margin-top: 1.75rem;

        &_field {
            display: flex;
            flex-direction: row;
            align-items: center;

            &:last-child {
                margin-top: 0.813rem;
            }
        }

        &_label {
            width: 9rem;
        }
    }
}

.input-payment {
    appearance: none;
    border: solid 1px $light-gray;
    padding: 0.25rem;
}

.credit-card {
    display: flex;
    flex-direction: column;

    margin-top: 2.25rem;

    color: #535864;

    &__title {
    }

    &__info {
        display: flex;
        flex-direction: column;

        height: fit-content;

        margin-top: 1.313rem;

        width: 35.313rem;

        &_field {
            margin: 0.188rem 0 0.65rem;

            &:not(:last-child) {
            }

            &:last-child {
                margin-top: 0;
                margin-bottom: 0.75rem;
            }
        }

        &_card-side {
            $bg-color: #f7f8f8;
            
            display: flex;
            flex-direction: column;
            
            border: solid 1px $decor-color;

            background-color: $bg-color;

            width: 21.875rem;
            height: 14.75rem;

        }
    }
}

.card-side {

    &_face {
        justify-content: flex-end;
        padding: 0 1.1rem 0;
        z-index: 2;
    }

    &_back {
        align-self: flex-end;

        margin-top: -13.45rem;

        z-index: 1;

        &_decoration {
            background-color: $decor-color;

            height: 2.625rem;

            margin-top: 1.625rem;
        }
    }
}

.info-field {
    
    &_input-wrapper {
        display: flex;
        flex-direction: row;

        margin-top: 0.25rem;

        &_side-back {
            justify-content: flex-end;
            align-items: center;
        }
    }

    &_side-back {

        &:last-child{
            margin-top: 1.063rem;
            margin-right: 1.063rem;
            
            align-self: flex-end;
            justify-self: center;
            justify-content: flex-end;

            width: 8.563rem;
        }
    }

    &_input {

        width: 4rem;
        height: 2.6rem;
        padding-left: 12px;

        color: $gray;

        border: solid 1px $light-gray;

        &_card-owner {
            @include placeholder-color($light-gray);
            margin-top: 0;
            width: 100%;
        }

        &_side-back {
            @include placeholder-color($light-gray);
            width: 100%;
            align-items: flex-end;
        }

        &:not(:first-child) {
            margin-left: 8px;
        }
    }

    &_tip {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: -0.5rem;
        
        border: solid 1px $gray;
        border-radius: 100%;
        background-color: white;
        color: $gray;

        &:after {
            content: 'Код из трёх цифр на обратной стороне карты';
            position: absolute;
            display: none;
            font-size: 10px;
            margin-left: -6.2em;
            width: 10em;
            background-color: white;
        }

        &:hover{
            &:after {
                display: block;
            }
        } 
    }
}

.validity-input-wrapper {

    display: flex;
    align-items: center;

    &:not(:first-child) {
        margin-left: 8px;
    }
}

.validity-period {
    
    &__month {
        appearance: none;
        width: 4rem;
    }

    &__year {
        width: 5rem;
        appearance: none;
    }
}

.custom-select-arrow {
    height: 1.6rem;
    margin-left: -1.7rem;
}

.footer {

}
</style>
