<template>
	<div id="app">
		<div class="row-layout">
			<navigation-panel></navigation-panel>
			<div class="content-column-layout">
				<div class="content-wrapper"> 
					<router-view :transactions='transactions' @add-transaction='addTransaction'></router-view>
				</div>
				<information></information>
			</div>
		</div>
	</div>
</template>

<script>
import navigationPanel from './components/navigationPanel.vue';
import information from './components/information.vue';

export default {
	name: "app",
	data() {
		return {
			transactions: [],
		};
	},
	methods: {
		addTransaction(trx) {
			this.transactions.push(trx);
			console.log('Transaction added');
		}
	},
	components: {
		navigationPanel,
		information,
	},
};
</script>

<style lang="scss">
#app {
	display: flex;
	margin: 3em 6em;

	box-shadow: 0 0 10px 0 black;

	max-width: 60em;
}

.row-layout {
	display: flex;
	justify-content: center;
	align-items: stretch;

	min-width: inherit;
	min-height: inherit;
}

.content-column-layout {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	width: 40em;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;

    background-color: #f7f8f8;

    width: inherit;
}
</style>